# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://ksllgvzmfxvqqiixozbm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_2Ex1IAxLt97i6so5R4y5Tw_c4EKeYJp

# Admin Secret Key for Post Deletion
NEXT_PUBLIC_ADMIN_SECRET=secret123
